{% extends "base.html" %}
{% block  content %}
<body class='d-flex text-center'>
    <content class='container d-flex flex-column justify-content-center align-items-center'>
        <h1>Конвертер</h1>
        <form id='form' class='row w-50 border rounded ps-4' action='' method='POST'>
                {% csrf_token %}
            <div class='input-group my-3 w-50 mx-auto'>
                <label for='amount' class='input-group-text'>Сумма:</label>
                <input required id='amount' type='number' placeholder='0' class='form-control' {% if from_amount %} value='{{ from_amount }}' {% endif %} name='from_amount'>
            </div>    
            </br>        
            <select name='from_curr' id='from_curr' class='form-select w-50 mx-auto mb-3' value='{{ from_curr }}'> 
                {% for curr in currencies %}
                    <option value='{{ curr }}' {% if from_curr == curr %}selected{% endif%}>{{curr}}</option>
                {% endfor %}
            </select>
            </br>
            <select name='to_curr' id='to_curr' class='form-select w-50 mx-auto mb-3' value='{{ to_curr }}'>
                {% for curr in currencies %}
                    <option value='{{ curr }}' {% if to_curr == curr %}selected{% endif%}>{{curr}}</option>
                {% endfor %} 
            </select>
            </br>
            {% if converted_amount %}
                <p class='lead'>Результат: <strong>{{ converted_amount }}</strong></p>
            {% endif %}

            <button type='submit'class='btn btn-primary w-50 mx-auto mb-3'>Рассчитать</button>
        </form>    
    </content>
</body>



{% endblock %}